{{#if tasks}}
  <table class="table table-bordered table-hover table-dark">
    <thead>
      <tr>
        <th>N°</th>
        <th>Title</th>
        <th>Description</th>
        <th>Operations</th>
      </tr>
    </thead>

    <tbody>
      {{#each tasks}}
      <tr>
        <td>{{@index}}</td>
        <td>{{title}}</td>
        <td>{{description}}</td>
        <td>
          {{#if done}}
            <a href="/toggleDone/{{_id}}" class="btn btn-dark btn-sm">Undone</a>
          {{else}}
            <a href="/toggleDone/{{_id}}" class="btn btn-success btn-sm">Done</a>
          {{/if}}

          <a href="/edit/{{_id}}" class="btn btn-info btn-sm">Update</a>
          <a href="/delete/{{_id}}" class="btn btn-danger btn-sm">Delete</a>
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>

  {{else}}
    <div class="text-center">
      <h2>No Tasks</h2>
    </div>

{{/if}}